* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body main {
    padding: 20px;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.wrapper textarea {
    width: 95%;
    height: 95%;
    resize: none;
    outline: none;
    border: 1px solid black;
    padding: 2.5%;
    font-family: monospace;
    font-size: large;
}

.wrapper .left textarea {
    border-radius: 10px 0 0 10px;
}

.wrapper .right {
    position: relative;
    height: 100%;
}

.wrapper .right textarea {
    border-radius: 0 10px 10px 0;
}

.wrapper .right button#play {
    position: absolute;
    bottom: 5px;
    right: 5px;
}